/* setting theme  */
/* lighttheme is default */

.lightTheme {
    --text-color: #333;
    --container-background-clr: rgba(255, 255, 255, 0.259);
    --background-img-small: url(./asset/img/background_light_small.webp);
    --background-img-large: url(./asset/img/background_light_large.webp);
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --inputs-background-clr: rgba(255, 255, 255, 0.678);
    --weather-report-background-clr: rgba(255, 255, 255, 0.322);
    --weather-report-hover-background-clr: rgba(255, 255, 255, 0.506);
    --dataofWeather-background: #9c999958;
}

.darkTheme {
    --text-color: #ffffff9c;
    --container-background-clr: rgba(4, 16, 40, 0.259);
    --background-img-small: url(./asset/img/background_dark_small.webp);
    --background-img-large: url(./asset/img/background_dark_large.webp);
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --inputs-background-clr: rgba(6, 6, 20, 0.469);
    --weather-report-background-clr: rgba(10, 12, 32, 0.322);
    --weather-report-hover-background-clr: rgba(3, 4, 18, 0.44);
    --dataofWeather-background: #12122a34;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: "Urbanist", serif;
}


/* superscript to show the c as unit celsius */
sup {
    font-size: 3.5rem;
    font-weight: 600;
}

body {
    width: 100vw;
    height: fit-content;
    background-image: var(--background-img-small);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: fit-content;
    background-color: var(--container-background-clr);
    backdrop-filter: blur(15px);
    padding: 2rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    transition: background-color 0.5s ease, color 0.5s ease;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease;
    -moz-transition: background-color 0.5s ease, color 0.5s ease;
    -ms-transition: background-color 0.5s ease, color 0.5s ease;
    -o-transition: background-color 0.5s ease, color 0.5s ease;
}

.cityEntry {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    width: 85%;
    padding: .1rem;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: var(--inputs-background-clr);
    box-shadow: var(--box-shadow);
    transition: background-color 0.5s ease, color 0.5s ease;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease;
    -moz-transition: background-color 0.5s ease, color 0.5s ease;
    -ms-transition: background-color 0.5s ease, color 0.5s ease;
    -o-transition: background-color 0.5s ease, color 0.5s ease;
}



.inputs i {
    font-size: 2rem;
    padding: .8rem 0rem;
    font-weight: 900;
    padding-left: 2rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

}

input {
    font-size: 2rem;
    padding: .8rem 2rem;
    padding-left: 2rem;
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
}

/* for theme purpose  */

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    padding: 1rem;
}

.theme i {
    font-size: 2.2rem;
}

.light {
    display: none;
}  

/* error showing only appears when invalid city name entered */
.errorMsgbox {
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    display: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.errorMsgbox i {
    font-size: 4rem;
}

.errorMsgbox #oopsError {
    font-size: 4rem;
}

.errorMsgbox p {
    font-size: 2.5rem;
    text-align: center;
}


/* main weather reports  */

.weather_report {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 180%;
    background-color: var(--weather-report-background-clr);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 1.8rem;
    /* transition: background-color 0.5s ease, color 0.5s ease; */
}

.weather_report:hover {
    background-color: var(--weather-report-hover-background-clr);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.weather_city {
    text-align: center;
}

.weather_data {
    display: flex;
    gap: 1rem;
}

.dataOfweather {
    background-color: var(--dataofWeather-background);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather_forcast {
    padding: .8rem 2rem;
    color: var(--text-color);
    font-size: 2.3rem;
    font-weight: 900;

}

.weather_temprature {
    font-size: 6rem;
}

.weather_MinMax {
    display: flex;
    gap: 1rem;
}


/* extra weather info  */

.moreInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.extra {
    width: 100%;
    background-color: var(--weather-report-background-clr);
    box-shadow: var(--box-shadow);
    padding: 2rem 1.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;

}

.extra:hover {
    background-color: var(--weather-report-hover-background-clr);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.extra i {
    font-size: 3rem;
}